.foot1, .foot2 {
    display: flex;
    color: white;
    background-color:#16193A;
    font-size: 20px;
    height: 40px;
    align-items: center;
}

.foot1 {
    justify-content: space-evenly;
}

.foot2 {
    justify-content: space-between;
}